[submodule "plugins/oocss"]
	path = plugins/oocss
	url = https://github.com/jessebeach/oocss.git
[submodule "plugins/Modernizr"]
	path = plugins/Modernizr
	url = https://github.com/Modernizr/Modernizr.git
[submodule "plugins/selectivzr"]
	path = plugins/selectivzr
	url = https://github.com/keithclark/selectivizr.git
